nav {
  background-color: #44494F;
  width: 90%;
  margin: auto;
}

nav a {
  color: #9cbf74;
  text: bold;
}
nav a:hover {
  color: #aed944;
  text: bold;
  text: italic;
}

body {
  background-color: #e3ddc4;
  color: #44494F;
  width: 90%;
  margin: auto;
}

footer {
  background-color: #44494F;
  color: #9cbf74;
  text: bold;
  width: 90%;
  margin: auto;
}