nav {
  background-color: #44494F;
  width: 90%;
  margin: auto;
}

nav a {
  color: #9cbf74;
  font-weight: bold;
}
nav a:hover {
  color: #aed944;
  font-weight: bold;
}

body {
  background-color: #e3ddc4;
  color: #44494F;
  width: 90%;
  margin: auto;
}

footer {
  background-color: #44494F;
  color: #9cbf74;
  font-weight: bold;
  width: 90%;
  margin: auto;
  padding: 2px;
}


.col-3 a {
  color: #44494F;
  background-color: #9cbf74;
  font-weight: bold;
  padding: 8px;
}
.col-3 a:hover {
  color: #44494F;
  background-color: #aed944;
  font-weight: bold;
  padding: 8px;
  ;
}

#name {
  width: 200%;
}

#quote {
  width: 200%;
}