extends layout
block content
    .container
        .row
            .col-6
                br
                img(src='images/Exams01.png', alt='CLRG logo', height='70%')

            .felx-col-6
                br
                br
                h2 There are 5 kind of exams:
                dl
                    dt Grade examinations (of dancers in general)
                    dt TMRF exam (to become a Céilí Dance - team dance - Teacher)
                    dt TCRG exam (to become a Irish Step Dance Teacher in general)
                    dt ADCRG exam (to become and adjudicator at exams)
                    dt SDCRG exam (to become an examiner)
                    br

        .row
            .col-12
                h2 General Grade Examinations:
                dl
                    dt There are 12 grade-levels (and an optional Preliminary Grade)
                    dt Once all levels are completed, the candidate receives a diploma
                    dt All 12 grades must be completed to be eligible for TCRG exam
                    br


        .row
           .col-8
                h2 Rules:
                dl
                    dt No age or gender limitations
                    dt Exams should be taken in order
                    dt Maximum 3 Grades can be attempted during one sitting
                    dt Minimum 3 months should pass between 2 sittings attended by the same candidate
                    dt 4 examiners should be present until Grade 10 and 6 from Grade 11
                    dt Previous exam reports need to be provided at all exams (and fees should be paid)
                    dt Both solo and céilí (team) dances should be performed at each Grade
                    dt At preliminary grade and Grades 1-3 only basic steps should be danced
                    dt 40 bars of music should be danced at all dance types
                    dt From Grades 6-12: all céilí dances of "Ár Rincí Céilí" should be adequatly performed as the syllabus specified it
                    dt From Grades 9-12: different céilí dance choreographies should be used at each level
                    dt Exams can be retaken, but the newer grade replaces the old one in all cases
                    dt Candidates attempting Grade 11 should be at least 16 years of age
                    dt Candidates attempting Grade 12 should be at least 17 years of age
                    dt Upon completion of all 12 Grades, the candidate receives "The Diploma of Irish Dancing Commission"
                    br

           .felx-col-4
                br
                br
                br
                img(src='images/Exams02.gif', alt='the rocks step', height='60%')
                br
                br

        .row
            .felx-col-4
                br
                br
                br
                img(src='images/Exams04.gif', alt='lord of the dance part', height='50%')

            .col-8
                h2 TMRF Examination:
                dl
                    dt The applicant must be at least 20 years of age
                    dt Applicant must provide "The Diploma of the Irish Dancing Commission" she/he previously received
                    dt The exam consists of 3 parts which all should be attempted at the same examination:
                        dt - written céilí dancing test
                        dt - practical test in teaching céilí dancing
                        dt - oral Irish language test (for candidates living in Ireland)
                    dt Failed tests at first 3 atempts can be repeated partially if the candidate achieved 50% or more
                    dt In any other case (achieved less than 50% or attempted the exam more than 3 times) the full exam needs to be repeated
                    dt At least 6 months should pass between 2 attempts
                    dt After 5 years (of the 1st attempt), the full examination needs to be repeated
                    dt The exam can be attempted maximum 6 times
                    dt

        .row
            .felx-col-8
                h2 TCRG Examination:
                dl
                    dt The applicant must be at least 20 years of age
                    dt Applicant must provide all previously obtained exam records
                    dt The applicant must be recommended for exam by a registered adjudicator or teacher
                    dt The exam consists of 6 parts which all should be attempted at the same examination:
                        dt  - written céilí dancing test
                        dt  - written music test
                        dt  - practical test in step dancing
                        dt  - practical test in teaching céilí dancing
                        dt  - practical test in teaching step dancing
                        dt  - oral Irish language test (for candidates living in Ireland)
                    dt First 3 failed tests can be repeated partially (if at least 50% was achieved)
                    dt In any other case the full exam needs to be repeated
                    dt At least 6 months should pass between 2 attempts
                    dt After 5 years (of the 1st attempt), the full examination needs to be repeated
                    dt The exam can be attempted maximum 6 times
                    br

            .col-4
                br
                br
                br
                br
                img(src='images/Exams05.gif', alt='irish dance class', height='45%')

        .row
            .col-4
                br
                br
                br
                br
                img(src='images/Exams06.gif', alt='dancing girl at competition', height='50%')

            .felx-col-8
                h2 ADCRG Examination:
                dl
                    dt The applicant must be at least 30 years of age
                    dt Applicant must provide "The Diploma of the Irish Dancing Commission" she/he previously received
                    dt Applicant must pass the TCRG examination at least 5 years before the exam
                    dt Applicant must be an active & CLRG-registered teacher for at least 5 years before the exam
                    dt Teaching experience must have occured within 3 years before application)
                    dt The applicant must be recommended for exam by a registered adjudicator or teacher
                    dt The exam consists of 5 parts which all should be attempted at the same examination:
                        dt - written céilí dancing test
                        dt - written music test
                        dt - written test (adding/transcribing marks, determining places, operating the official point-system)
                        dt - practical test in adjudicating step dancing and céilí dancing (including interview)
                        dt - oral Irish language test (for candidates living in Ireland)
                    dt Failed tests at first 3 atempts can be repeated partially if the candidate achieved 50% or more
                    dt In any other case the full exam needs to be repeated
                    dt At least 6 months should pass between 2 attempts
                    dt After 5 years (of the 1st attempt), the full examination needs to be repeated
                    dt The exam can be attempted maximum 6 times
