extends layout

block content
  h1 All about Irish Dance...
  #container.col
      p Want to know more about Irish Dance?
      p Or wonder what kind of exams can you take?
      p Or just want to know who were the world champions of this year?
      p Do you want to know the next World Championship's location?
      br
      h4 Click to the links above, to find out more!
