extends layout
block content
  .container
    .row
      .flex-col-6
          .carousel.slide(id="carousel-", data-ride="carousel")
            // Indicators
            ol.carousel-indicators
              -for (var i = 0; i < 3; i++) {
                if(i == 0)
                  li.active(data-target="#carousel-", data-slide-to=i)
                else
                  li(data-target="#carousel-", data-slide-to=i)
              -}
            // The slideshow
            .carousel-inner
              -for (var n = 1; n < 4; n++) {
                if(n == 1)
                  .carousel-item.active
                    img(src='images/Home0' + n + '.png', alt='Quote', width='90%', height='90%')
                else
                  .carousel-item
                    img(src='images/Home0' + n + '.jpg', alt='birdie', width='90%', height='90%')
              -}
            // Left and right controls
            a.carousel-control-prev(href='#carousel-', data-slide='prev')
              span.carousel-control-prev-icon
            a.carousel-control-next(href='#carousel-', data-slide='next')
              span.carousel-control-next-icon

      .col-6
        br
        br
        br
        h1 All about Irish Dance...
          h5
            p Want to know more about Irish Dance?
            p Or wonder what kind of exams can you take?
            p Or just want to know who were the world champions of this year?
            p Do you want to know the next World Championship's location?
            br
          h4 Check out the other pages and find out more!
