doctype html
html
  head
    title= 'Rince Gaelach...'
    link(rel='stylesheet', href='/stylesheets/style.css')
    .nav
        a(href='/') Home
        a(href='/winners2018') Winners of 2018
        a(href='/location') Locations
        a(href='/exams') Exams
  body


    block content
