extends layout
block content
    .container
        .row.text-center
            .col-12
                h1= 'Winners of Irish Dancing World Championship (2018)'
        .row.text-center
            .col-12
                .carousel.slide(id="carousel-", data-ride="carousel")
                    // Indicators
                    ol.carousel-indicators
                        -for (var i = 0; i < 4; i++) {
                        if(i == 0)
                            li.active(data-target="#carousel-", data-slide-to=i)
                        else
                            li(data-target="#carousel-", data-slide-to=i)
                        -}
                    // The slideshow
                    .carousel-inner
                        -for (var n = 1; n < 5; n++) {
                        if(n == 1)
                            .carousel-item.active
                                img(src='images/Winners0' + n + '.png', width='80%', height='80%')
                        else
                            .carousel-item
                                img(src='images/Winners0' + n + '.jpg', width='80%', height='80%')
                        -}
                    // Left and right controls
                    a.carousel-control-prev(href='#carousel-', data-slide='prev')
                        span.carousel-control-prev-icon
                    a.carousel-control-next(href='#carousel-', data-slide='next')
                        span.carousel-control-next-icon
            .col-2

        .row
            .col-3
            .col-7
                br
                ul
                    each winner in winners
                        li= winner.group + ' - ' + winner.name + ' (' + winner.school + ' : ' + winner.region + ')'
                        br
            .col-2